{% extends "base.html" %}

{% load static %}

{% block title %}{{ book.name }}{% endblock %}

{% block content %}
  <div class="container">
      <div class="header">
        <h5>
          <a href="{% url 'books' %}">Вернуться в каталог</a>
        </h5>
      </div>
        <div class="row">
            {% if next_page %}
            <a href="{{ next_page.pub_date|date:'Y-m-d' }}">{{ next_page.pub_date|date:'Y-m-d' }}</a>
            {% endif %}
            {% for book in book %}
              <div class="book">
                  <h3>{{ book.name }}</h3>
                <div class="author">Автор: {{ book.author }} </div>
                <div class="pub_date">Дата публикации: {{ book.pub_date }} </div>
              </div>
            {% endfor %}
            {% if previous_page %}
            <a href="{{ previous_page.pub_date|date:'Y-m-d' }}">{{ previous_page.pub_date|date:'Y-m-d' }}</a>
            {% endif %}
        </div>
  </div>
{% endblock %}