{% extends "base.html" %}

{% load static %}

{% block title %}{{ book.name }}{% endblock %}

{% block content %}
  <div class="container">
  <div class="header">
    <h5>
      <a href="{% url 'books' %}">Вернуться в каталог</a>
    </h5>
    <h1>{{ book.name }}</h1>
  </div>

  <div class="content">
    <div>Автор: {{ book.author }} </div>
    <div>Дата публикации: {{ book.pub_date }}</div>
  </div>
      {% if previous_page %}
        <a href="?page={{ previous_page.pub_date|date:'Y-m-d' }}">⟵</a>
      {% endif %}
      {% if next_page %}
        <a href="?page={{ next_page.pub_date|date:'Y-m-d' }}">⟶</a>
      {% endif %}
{% endblock %}

